body {
  margin: 0;
  font-family: Arial;
  background: #f2f6ff;
  scroll-behavior: smooth;
}

.profile-img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: 20px;
  transition: 0.3s;
}

.profile-img:hover {
  transform: scale(1.05);
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background: rgb(38, 38, 126);
  color: white;
  text-align: center;
  padding: 50px;
}

nav {
  background: #003366;
  text-align: center;
  padding: 10px;
}

nav a {
  color: white;
  margin: 10px;
  font-weight: bold;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: rgb(194, 196, 242);
}

.box {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
  transition: 0.3s;
}

.box:hover {
  transform: translateY(-5px);
}

footer {
  background: #003366;
  color: white;
  text-align: center;
  padding: 10px;
}
